<%= stylesheet_link_tag "welcome" %>
<%= navigation_bar %>

<%= link_to("<< Back to Users", users_path, :class => 'btn btn-light') %>

<div class="users-edit">
  <h2>Update User</h2>

  <%= form_for(@user) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f})%>

  <div class="form-buttons btn">
    <%= f.submit("Update User", class: "btn btn-primary") %>
  </div>

<% end %>
</div>
