<%= stylesheet_link_tag "welcome" %>
<%= navigation_bar %>

<%= link_to("<< Back to Users", users_path, :class => 'btn btn-light') %>

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Last name:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.lastName %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Email:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.email %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Last name:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.lastName %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Password:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.password %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Admin:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.admin %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Created at:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.created_at %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Updated at:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @user.updated_at %>
      </div>
    </div>

  </div>
</div>
