<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 45%;
  left: 28%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.comment {
  position: absolute;
  top: 53%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.card-body {
  color: black;
}
.card-text {
  font-size: 15px;
}
.mapouter {
  transform: translate(3%, 0%);
}
</style>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Bee Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" <%= link_to "Home","/welcome#index" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" <%= link_to "Log In","/bank_login/index" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" <%= link_to "Contact Us","/welcome/contactus" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" <%= link_to "Find your nearest branch","/welcome/findbranch" %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <img src="/branch.jpg" class="img-fluid" alt="/branch.jpg">
  <div class="top-left">| Find your local branch</div>
  <div class="comment">Providing you banking services nationwide.</div>
<br>
</div>

<div class="row">
  <div class="col-sm-5">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="350" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a <a <%= link_to "https://www.whatismyip-address.com/divi-discount/" %> ></a>></a>
      </div><style>.mapouter{position:relative;text-align:right;height:350px;width:350px;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:350px;}</style></div>
  </div>
  <div class="col-sm-5">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <h5 class="card-title">Find your nearest Bee Bank.</h5>
        <h6 class="card-subtitle mb-2 text-muted">Opening Times</h6>
        <p class="card-text"><br>Monday 10:00-20:00 <br> Tuesday 10:00-20:00 <br> Wednesday 10:00-20:00 <br> Thursday 10:00-20:00 <br> Friday 10:00-20:00 <br> Saturday 10:00-17:30 <br> Sunday 10:00-13:00 <br><br>Please remember to wear a mask when visiting our branches. We strictly follow social distancing restrictions to help fight the spread of the virus.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
