<%= stylesheet_link_tag "welcome" %>
<%= navigation_bar %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <h2 class="mb-4">Make a payment</h2>

      <h4>Payment details</h4>


      <%= form_with(url: "/payments", method: "post") do %>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= label_tag(:account, "Account") %>
            <%= select_tag(:account, options_for_select(@accounts), class: "form-control", required: true) %>
          </div>
          <div class="col-md-6 mb-3">
            <%= label_tag(:firstName, "Name") %>
            <%= text_field_tag(:firstName, "", class: "form-control", required: true) %>
          </div>
          <div class="col-md-6 mb-3">
            <%= label_tag(:email, "Email") %>
            <span class="text-muted">(Optional)</span>
            <%= text_field_tag(:email, "", class: "form-control") %>
          </div>
        </div>

        <div class="mb-3">
          <%= label_tag(:country, "Country") %>

          <%= select_tag(
                :country,
                options_for_select([['United Kingdom', 'GB'], %w[Bulgaria BG], %w[Germany DE]]),
                class: 'form-control',
                required: true
              ) %>

          <div class="invalid-feedback">
            Please enter a valid country to send the payment.
          </div>
        </div>

        <div class="mb-3">
          <%= label_tag(:iban, "IBAN") %>
          <%= text_field_tag(:iban, "", class: "form-control", placeholder: "GB000000000000", required: true) %>

          <div class="invalid-feedback">
            Please enter a valid IBAN address.
          </div>
        </div>


        <div class="mb-3">
          <%= label_tag(:amount, "Amount") %>
          <div class="input-group">

            <%= number_field_tag(:amount, "", class: "form-control", placeholder: "55", required: true, min: 0) %>

            <div class="invalid-feedback" style="width: 100%;">
              The amount to transfer is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <%= label_tag(:note, "Note") %>
          <span class="text-muted">(Optional)</span>
          <%= text_field_tag(:note, "", class: "form-control", placeholder: "Merry Christmas") %>

          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>

        <%= submit_tag("Send money", class: 'btn btn-primary', data: {confirm:'Are you sure?'} ) %>
      <% end %>
    </div>
  </div>
</div>
