<div class="transactions-index">
  <h2>Transaction Index</h2>

  <!-- The link to overview page is temporary. It should be in a navbar -->
  <%= link_to("<< Back to Overview", root_path, :class => 'back-link') %>

  <%= link_to("Show", 'transactions/show', :class => 'back-link') %>
  <%= link_to("Add New Transaction", new_transaction_path, :class => 'action new') %>

  <table class="table" summary="transaction-list">
    <tr class="header">
      <th>Date</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Transaction Type</th>
      <th>Account ID</th>
      <th>Actions</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td class="center"><%= transaction.date %></td>
        <td class="center"><%= transaction.payee %></td>
        <td class="center"><%= "#{transaction.amount} #{Account.find(transaction.account_id).currency}" %></td>
        <td class="center"><%= transaction.transaction_type %></td>
        <td class="center"><%= transaction.account_id %></td>
        <td class="actions">
          <%= link_to("Edit", edit_transaction_path(transaction), :class => 'action edit') %>
          <%= link_to("Delete", delete_transaction_path(transaction), :class => 'action delete') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
