<div class="transactions-table">
  <h2>Transactions</h2>

  <!-- The link to overview page is temporary. It should be in a navbar -->
  <%= link_to("<< Back to Overview", users_path, :class => 'back-link') %>

  <table class="table" summary="transaction-list">
    <tr class="header">
      <th>Date</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Transaction Type</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td class="center"><%= transaction.date %></td>
        <td class="center"><%= transaction.payee %></td>
        <td class="center"><%= "#{transaction.amount} #{Account.find(transaction.account_id).currency}" %></td>
        <td class="center"><%= transaction.transaction_type %></td>
      </tr>
    <% end %>
  </table>
</div>
