<%= stylesheet_link_tag "welcome" %>
<%= navigation_bar %>

<p id="notice"><%= notice %></p>
<%= link_to '<< Back to Transactions', transactions_path, class: "btn btn-light" %>
<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Account:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.account_id %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Payee:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.payee %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Amount:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.amount %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Transaction type:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.transaction_type %>
      </div>
    </div>


    <div class="row border-bottom">
      <div class="col-6 py-2">
        Balance:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.balance %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Date:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @transaction.date %>
      </div>
    </div>

</div>
</div>
