<%= navigation_bar %>

<p id="notice"><%= notice %></p>

<%= link_to '<< Back to Accounts', accounts_path %>

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="row border-bottom">
      <div class="col-6 py-2">
        User:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= User.find(@account.user_id).email %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Currency:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @account.currency %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Balance:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @account.balance %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Account type:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @account.account_type %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        Account number:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @account.account_number %>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="col-6 py-2">
        IBAN:
      </div>
      <div class="col-6 border-left alert-info py-2">
        <%= @account.iban %>
      </div>
    </div>

  </div>
</div>
